<!DOCTYPE html>
<html>
    <head>
        <title>Cyber Millionaire</title>
        
        <style type="text/css">
            body {
                background-color: black;
                font-family: 'Roboto Slab', serif;
            }
            
            h1 {
                color: white;
            }
        
            h2 {
            color: white;
            }
        
            h3 {
            color: white;
            }
        
              </style>
        </style>
    
    </head>
    <body>
        <h1> Welcome To Who Wants To Be A Cyber Millionaire!</h1>
        <h2> Please Select a Difficulty Below</h2>
        
        <button type="button">K-8</button> <br/>
        <button type="button">High School</button> <br/>
        <button type="button">College</button> <br/>
        <button type="button">College + Technical</button> <br/>
        
        <h3>If you would like to submit a quesiton, click below.</h3><br/>
        <button type="button">Submit a Question!</button> <br/>

        
    
    </body>
</html>
