<!DOCTYPE html>
<html>
    <head>
        <title>Cyber Millionaire</title>
        
        <style type="text/css">
            body {
                background-color: black;
                font-family: 'Roboto Slab', serif;
            }
            
            h1 {
                color: white;
            }
        
        
        </style>
        
    
    </head>
    <body>
        <h1> Press Start To Play!</h1>
        
        <button type="button">Start</button> <br/>
        
    </body>
</html>
