{% load static %}

<!DOCTYPE html>
<html>
    <head>
        
        <style type="text/css">
            body {
                background-color: white;
                font-family: 'Roboto Slab', serif;
            }
            
            h1 {
                color: white;
            }
        
        </style>
        
            
    
    </head>
    <body>
       
        <div id="pre-start" style="display: none;">
           <h1> Press Start To Play!</h1>
           <button id="start" type="button" value="start">Start!</button>
       </div>
        
       
        <script src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
        <script src="{% static 'js/knockout-3.0.0.js' %}"></script>
        <script src="{% static 'js/millionaire.js' %}"></script>
    </body>
</html>
